<ion-view hide-nav-bar="true" class="loginBg">

<ion-header-bar>
    <!-- <h1 class="title">SAGICOR</h1> -->
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
</ion-header-bar>

<ion-content class="loginMidBox">
       
          <div class="list">
            <label class="item item-input">
              <span class="input-label boderBotom">Policy Owner Login</span>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="User ID" class="LoginInput" ng-model="loginData.username">
            </label>
            <label class="item item-input">
              <input type="password" class="LoginInput" placeholder="Password"  ng-model="loginData.password">
            </label>
            <label class="item item-input">
              <button class="button button-block button-positive" ng-click="doLogin();">Login</button>
            </label>
            <label class="item item-input">
             <span class="input-label forgetRight" >Forgot Password?</span>
             </label>
              <label class="item item-input">
              <span class="midBoder"></span>
             <span class="orText">or</span>
            <span class="midBoder"></span>
             </label>
              <label class="item item-input">
             <button class="signUpButton" ng-click="signUp();">Signup Here</button>
             </label>
          </div>
     
        </ion-content>

  <!-- <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content> -->
</ion-view>
