<ion-view class="list-text" view-title="Playlist">	
	<ion-content>
	   <h1>Playlist</h1>
	    <div class="card">
		  <div class="item item-avatar">
		    <img src="avatar.jpg">
		    <h2>Date of Birth</h2>
		    <h2>Relationship</h2>
		    <h2>Gender</h2>
		    <h2>Government IS/SSN</h2>
		    
  		  </div>
		</div>
		<div>
			<h3>Contact Information</h3>
		</div>
		<div id="info">
			<h4>Enter your changes and click save</h4>
			<P>
				<span>
					<h4>Please Note: </h4>
				</span> If yoy have multiple polices, the information will be changed on all policies.(* Required Fields)
			</P>
		</div>
	</ion-content>
</ion-view>
