<ion-view view-title="Register Now!">
  <ion-content>
    

	<section>
	
		<div class="progressbarWraper">
<div id="progressbarHold">
	<ul id="progressbar">
		<li class="active"></li>
		<li class="active"></li><li></li>
		</ul></div>

		</div>
		<div class="form-main">
			
			<p class="form-note"><span class="please-note-text">Login &amp; Security Information</span>  (<span class="color-red">*</span> Required fields)</p>
			<div class="form">
				<div class="input-box">
					<label><span class="color-red">*</span>User ID:</label>
					<input class="input-style" type="text" />
				</div>

	<div class="input-box">
					<label><span class="color-red">*</span>Password:</label>
					<input class="input-style" type="password" />
				</div>

				<div class="input-box">
					<label><span class="color-red">*</span>Confirm Password:</label>
					<input class="input-style" type="password"  />
				</div>

<div class="input-box">
					<label><span class="color-red">*</span>Security Phrase:</label>
					<input class="input-style" type="text" />
				</div>

				<div class="input-box">
					<label><span class="color-red">*</span>Security Question 1:</label>
					<select class="select-style" >
					<option>Please Select</option>
					<option>UK</option>
					<option>INDIA</option>
					<option>CANADA</option>
					</select>
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Answer 1:</label>
					<input class="input-style" type="text" />
				</div>

					<div class="input-box">
					<label><span class="color-red">*</span>Security Question 2:</label>
					<select class="select-style" >
					<option>Please Select</option>
					<option>UK</option>
					<option>INDIA</option>
					<option>CANADA</option>
					</select>
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Answer 2:</label>
					<input class="input-style" type="text" />
				</div>

					<div class="input-box">
					<label><span class="color-red">*</span>Security Question 3:</label>
					<select class="select-style" >
					<option>Please Select</option>
					<option>UK</option>
					<option>INDIA</option>
					<option>CANADA</option>
					</select>
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Answer 3:</label>
					<input class="input-style" type="text" />
				</div>
				

				<div class="input-box">
		<label><span class="color-red">*</span>Please enter displayed security code:</label>
					<input class="input-style" type="text" />
				</div>

				<div class="half-input">
					<div class="input-box">
					
					<input class="input-style captchaClass" type="text" placeholder="W6 8HP">
				</div>
				<div class="input-box" style="text-align:center;">
					<p style="margin-bottom:0px;"><img src="img/refreshIcon.png"></p>
					<p>Can't read this code? <br/>Click to refresh</p>
				</div>
				<div class="clearfix"></div>
				</div>

		
				<div class="button-main">
					<button class="grid-btn active" ng-click="next()">Next</button>
					<button class="grid-btn" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</section>

  </ion-content>
</ion-view>
