<ion-view view-title="Register Now!">
  <ion-content>
    

	<section>
	
		<div class="progressbarWraper">
<div id="progressbarHold">
	<ul id="progressbar">
		<li class="active"></li>
		<li class="active"></li>
		<li class="active"></li>
		</ul></div>

		</div>
		<div class="form-main">
			
			<p class="form-note"><span class="please-note-text">Preference Information</span>  (<span class="color-red">*</span> Required fields)</p>
			<div class="form">
				<div class="input-box">
					<label><span class="color-red">*</span>Preferred Date Format</label>
					<input class="input-style" type="text" />
				</div>


				<div class="input-box">
					<label><span class="color-red">*</span>Please enter displayed security code:</label>
					<input class="input-style" type="text" />
				</div>

				<div class="input-box input-checkbox">
					<input class="checkbox-style" type="checkbox" />
					<label>I have read and agree t the Web Site Terms and Conditions <a href="#">(Read them here)</a> and the Web Site Registration Agreement <a href="#">(Read them here)</a>  </label>
				</div>

				<div class="button-main">
					<button class="grid-btn active" ng-click="next()">Submit</button>
					<button class="grid-btn" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</section>

  </ion-content>
</ion-view>
