<ion-view view-title="Billing/Payment Detail">
  <ion-content>
    <!--<h1>policyDetail</h1>-->

    <section>
		<div class="card-info">
			<div class="card-inner padd-0">
			<div class="policy-header-top">
			<div class="row">
			<div class="col-sm-7">
			<ul class="card-listing policy-header-listing">
				<li><span>Policy Number:</span><span class="width-auto">S0000305007</span></li>				
			</ul>
			</div>
			<div class="col-sm-5 padd-left-0">
				<div class="policy-current-date">
					<span>Current As Of Date <br/><span class="family-bold">08/30/2016</span></span>
				</div>
			</div>
			</div>
			</div>				
				<div class="billing-header-inner">
					<ul class="card-listing policy-header-listing">
						<li>
						<span>Payor:</span> <span class="blueText">NORMA U HERRON
<a href="#" data-toggle="tooltip" data-placement="top" title="NORMA U HERRON" ><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
						</span>
						</li>
						<li>
						<span >Effective Date:</span><span>08/23/2012 </span>
						</li>
						<li>
						<span>Paid To Date:</span><span>08/23/2012 </span>
						</li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="cardGreyHeading">All currency values expressed in DOLLAR (US)</div>
		</div>


<div class="tabHolder">
<div class="tabHeading active">Billing Information</div>
<div class="tabContent">

		<div class="policy-info" >
			<ul class="card-listing">
				<li>
				<span>Bill Date:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>08/13/2012</span>
				</li>
				<li>
				<span>Premium:</span><span>$ 80,000.00</span>
				</li>
				<li>
				<span>Payment Frequency:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>Annual</span>
				</li>
				<li>
				<span>Payment Method:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>No Notice</span>
				</li>
			</ul>
			
		</div>
</div>



<div class="tabHeading">Payment History</div>
<div class="tabContent">Tab2 Content</div>


</div>


	</section>
  </ion-content>
</ion-view>
