<ion-view view-title="Personal Information">
  <ion-content>
    

	<section>
		<div class="card-info">
			<div class="card-inner">
				<div class="card-inner-left">
					<img src="img/dummey-profile.png" >
					<p>Norman U Herron</p>
				</div>
				<div class="card-inner-right">
					<ul class="card-listing">
						<li>
						<span>Date of Birth:</span><span>11/13/1927</span>
						</li>
						<li>
						<span>Relationship:</span><span>Owner One</span>
						</li>
						<li>
						<span>Gender:</span><span>Female</span>
						</li>
						<li>
						<span>Government IS/SSN:</span><span>xxxx xx 0027</span>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="contact-info">
		<p>Contact Information</p>
		</div>
		<div class="form-main">
			<h2>Enter your changes and click Save.</h2>
			<p class="form-note"><span class="please-note-text">Please note:</span> If you have multiple policies, the information will bechanged on all policies. (<span class="color-red">*</span> Required field)</p>
			<div class="form">
				<div class="input-box">
					<label><span class="color-red">*</span>Street Address:</label>
					<input class="input-style" type="text" />
					<input class="input-style" type="text" />
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>City:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>State Country:</label>
					<select class="select-style" >
					<option>USA</option>
					<option>UK</option>
					<option>INDIA</option>
					<option>CANADA</option>
					</select>
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Zip Code:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="half-input">
					<div class="input-box">
					<label>Cell:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label>Home:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="clearfix"></div>
				</div>
				<div class="half-input">
					<div class="input-box">
					<label>Business:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label>Faceismile:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="clearfix"></div>
				</div>
				<div class="line-devider"></div>
				<div class="input-box">
					<label>Preferred Email Address 1:</label>
					<input class="input-style" type="text" />
				</div>
				<p class="form-note-bottom">Note: This will be the email address used for all future email commucincation from Sagicor</p>
				<div class="add-button-main"><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Add</span></a></div>
				<div class="button-main">
					<button class="grid-btn active">Save</button>
					<button class="grid-btn">Cancel</button>
				</div>
			</div>
		</div>
	</section>

  </ion-content>
</ion-view>
