<ion-view view-title="Policy Detail">
  <ion-content>
    <!--<h1>policyDetail</h1>-->

    <section>
		<div class="card-info">
			<div class="card-inner padd-0">
			<div class="policy-header-top">
			<div class="row">
			<div class="col-sm-7">
			<ul class="card-listing policy-header-listing">
				<li><span>Policy Number:</span><span class="width-auto">S0000305007</span></li>				
			</ul>
			</div>
			<div class="col-sm-5 padd-left-0">
				<div class="policy-current-date">
					<span>Current As Of Date <span class="family-bold">08/30/2016</span></span>
				</div>
			</div>
			</div>
			</div>				
				<div class="policy-header-inner-right">
					<ul class="card-listing policy-header-listing">
						<li>
						<span>Owner:</span><a href="#">Norma U Herron</a>
						</li>
						<li>
						<span>Owner Address:</span><span>506 S 600 E 
Columbia City, Indiana
Unites States of America</span>
						</li>
					</ul>
				</div>
				<div class="policy-header-inner-left">
				<a href="" ng-click="showPopup()">
					<img src="img/dummey-profile.png" >
					<p>View <br> Agent Detail</p>
					</a>
				</div>
				<div class="clearfix"></div>
				<div class="update-personal">
					<div class="add-button-main"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Update Personal Information</span></a></div>
				</div>
			</div>
		</div>


<div class="tabHolder">
<div class="tabHeading active">Policy Information</div>
<div class="tabContent">

		<div class="policy-info" >
			<ul class="card-listing">
				<li>
				<span>Bill Date:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>Paid Up</span>
				</li>
				<li>
				<span>Currency:</span><span>Dollar US</span>
				</li>
			</ul>
			<div class="line-devider"></div>
			<ul class="card-listing">
				<li>
				<span>Application Date:</span><span>08/13/2012 </span>
				</li>
				<li>
				<span>Effective  Date:</span><span>08/13/2012 </span>
				</li>
				<li>
				<span>Paid to Date:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>08/13/2012 </span>
				</li>
			</ul>
			<div class="line-devider"></div>
			<div class="row">
				<div class="col-sm-11">
				<ul class="card-listing">
				<li>
				<span>Primary:</span><a href="#">Paul Heron & Norman U</a>
				</li>
				<li>
				<span>Beneficiary:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><a href="#" class="displayBlock">Herron Revocalble Living Trust</a>
				</li>
			</ul>
			</div>
			<div class="col-sm-1 padd-0"><div class="hundred-round">100%</div></div>
			</div>
			<div class="line-devider"></div>
			<ul class="card-listing">
				<li>
				<span>Premium:</span><span>$ 80,000.00 </span>
				</li>
				<li>
				<span>Payment Method:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>No Notice </span>
				</li>
				<li>
				<span>Payment Frequency:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>Annual </span>
				</li>
				<li>
				<span>Last Payment Date:</span><span>08/13/2012 </span>
				</li>
			</ul>
		</div>
</div>



<div class="tabHeading">Benefits</div>
<div class="tabContent">Tab2 Content</div>


</div>


	</section>
  </ion-content>
</ion-view>
