<ion-view view-title="Register Now!">
  <ion-content>
    

	<section>
	
		<div class="progressbarWraper">
<div id="progressbarHold">
	<ul id="progressbar">
		<li class="active"></li>
		<li></li><li></li>
		</ul></div>

		</div>
		<div class="form-main">
			
			<p class="form-note"><span class="please-note-text">Personal Information</span>  (<span class="color-red">*</span> Required field)</p>
			<div class="form">
				<div class="input-box">
					<label><span class="color-red">*</span>User Type:</label>
					<select class="select-style" >
					<option>Genral</option>
					<option>Health</option>
					</select>
				</div>

	<div class="input-box">
					<label><span class="color-red">*</span>First Name:</label>
					<input class="input-style" type="text" />
				</div>

				<div class="input-box">
					<label><span class="color-red">*</span>Last Name:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Date of Birth:</label>
					<select class="select-style" >
					<option>USA</option>
					<option>UK</option>
					<option>INDIA</option>
					<option>CANADA</option>
					</select>
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Social Security Number:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label><span class="color-red">*</span>Policy Number:</label>
					<input class="input-style" type="text" />
				</div>
				<div class="input-box">
					<label>Preferred Email Address:</label>
					<input class="input-style" type="text" />
				</div>

		
				<div class="button-main">
					<button class="grid-btn active" ng-click="next()">Next</button>
					<button class="grid-btn">Cancel</button>
				</div>
			</div>
		</div>
	</section>

  </ion-content>
</ion-view>
