<ion-view view-title="Benefit Detail">
  <ion-content>
    <div class="pageHeding">Single Premium Whole Life Insurance Policy</div>
    <div class="smallGreyHeading">All currency value expressed in DOLLAR(US)</div>
    <div class="policy-info" style="padding-top:10px">
    		<ul class="card-listing">
				<li><span>Insured:</span><div class="greenTextLable">NORMA U HERRON</div></li>
				<li><span>Status:</span><span>Paid Up </span></li>
				<li><span>Issue Age:</span><span>84</span></li>
				<li>
				<span>Risk Class:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>Non- tobacco </span>
				</li>
				<li>
				<span>Coverage Amount:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>$ 98,904.00 </span>
				</li>
				<li><span>Death Benefit Option:</span><span>Face Amount</span></li>
				<li><span>Effective Date:</span><span>08/23/2012</span></li>
				<li><span>Expiration Date:</span><span>08/23/2012 </span></li>
				<li>
				<span>Paid Up Date:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span><span>08/23/2012 </span>
				</li>
			</ul>
    </div>
   <div class="greenBoxHeding">Fund Summary</div>
    <div class="noteWraper"><span>Interest Funds:<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!" class="tooltip-color"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></span></div>
  </ion-content>
</ion-view>
